<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>CotxesPersona2015 - @Page.Title</title>
        <link href="@Href("~/css/styles.css")" rel="stylesheet">
        <link href="@Href("~/css/estilsForms.css")" rel="stylesheet">

        @RenderSection("head", required: false)
    </head>
    <body>
        <div id = "cont">
			<div id = "cos">
                <div id="contingut">
                    @RenderBody()
                </div>
			</div>
			<div id = "menu">
                <div id="search">
                    @RenderPage("~/Shared/Partials/_Search.cshtml")
                </div>
                <a href="~/llistaPersones">
                    <div class="opMenu">Persones</div>
                </a>
                <a href="~/llistaCotxes">
                    <div class="opMenu">Cotxes</div>
                </a>
                <a href="~/logout">
                    <div class="opMenu">Tancar Sessió</div>
                </a>
			</div>
				
		</div>
    </body>
</html>
